<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769723259158-m7mth1qkpqbp1uhtnvasrb94tdujubvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769723259158-m7mth1qkpqbp1uhtnvasrb94tdujubvu</string>
	<key>API_KEY</key>
	<string>AIzaSyANiH_WqsAwOxFcOINNfVx_6mgLlv1p6Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>769723259158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectx.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>proxieberlin7</string>
	<key>STORAGE_BUCKET</key>
	<string>proxieberlin7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769723259158:ios:8098ed72e616a95b5b9837</string>
</dict>
</plist>